:root {
  --theme-color: #a0522d;
  --theme-light: #d2ac8c;
}

body {
  margin: 0;
  padding: 20px;
  background: var(--theme-light);
  font-family: Arial;
}

header {
  text-align: center;
  color: white;
  background: var(--theme-color);
  padding: 20px;
  border-radius: 8px;
}

.item {
  background: white;
  padding: 10px;
  margin-top: 15px;
  border-radius: 6px;
}

.judul {
  cursor: pointer;
  color: var(--theme-color);
}

/* MODE BERANTAKAN */
.berantakan {
  transform: rotate(3deg);
  background: #ffd8c2 !important;
}
